<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <meta name="description" content="Admin dashboard template built with tailwindcss and alpinejs." />
        <meta name="keywords" content="Admin, Dashboard, Template, HTML, CSS, JavaScript, Tailwindcss, Alpinejs" />
        <meta name="author" content="Kamona UI" />

        <title>{{ title }} {{#if pageTitle}} | {{pageTitle}} {{/if}}</title>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <style>
            [x-cloak] {
                display: none;
            }
        </style>
        <link rel="stylesheet" href="{{ resolve-from-root '../css/main.css' }}" />
        {{> styles}}
    </head>

    <body class="font-sans antialiased">
        <div x-data="globalState" :class="{ 'dark': $store.darkMode.value }" @resize.window="handleWindowResize">
            <div class="min-h-screen flex text-gray-900 bg-gray-100 dark:bg-dark-eval-0 dark:text-gray-100">
                {{> partials/sidebar activeLink=activeLink group=group }}

                <div
                    class="flex-1 flex flex-col min-h-screen"
                >
                    {{> partials/navbar }}

                    <div class="container mx-auto flex-1 flex flex-col items-center gap-4 sm:gap-6 p-4 sm:p-6">
                        <div class="flex-shrink-0 w-full flex flex-col gap-2">
                            {{#if breadcrumb}}
                                <!-- Breadcrumb -->
                                <nav class="flex" aria-label="Breadcrumb">
                                    <ol class="inline-flex items-center gap-x-1 md:gap-x-2">
                                        {{#each breadcrumb}}
                                            <li class="inline-flex items-center gap-2" {{#if @last}} aria-current="page" {{/if}}>
                                                {{#if url}}
                                                    <a
                                                        href="{{baseUrl url}}"
                                                        class="inline-flex items-center gap-2 text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
                                                    >
                                                        {{#if icon}}
                                                            <span class="iconify {{icon}} w-4 h-4"></span>
                                                        {{/if}}

                                                        <span>{{title}}</span>
                                                    </a>

                                                    {{#unless @last}}
                                                        <span
                                                            class="iconify tabler--chevron-right w-5 h-5 text-gray-400 rtl:rotate-180"
                                                        ></span>
                                                    {{/unless}}
                                                {{else}}
                                                    <span
                                                        class="inline-flex items-center gap-2 text-sm font-medium text-gray-500 dark:text-gray-400"
                                                    >
                                                        {{#if icon}}
                                                            <span class="iconify {{icon}} w-4 h-4"></span>
                                                        {{/if}}

                                                        <span>{{title}}</span>
                                                    </span>
                                                {{/if}}
                                            </li>
                                        {{/each}}
                                    </ol>
                                </nav>
                                {{/if}}

                            <!-- Page header-->
                            <header>
                                <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                                    {{> header}}
                                </div>
                            </header>
                        </div>

                        <!-- Content -->
                        <main class="flex-1 w-full">
                            {{> @partial-block}} 
                        </main>

                        {{> partials/footer}}
                    </div>
                </div>
            </div>
        </div>

        {{> beforeScript}}
        <script type="module" src="{{ resolve-from-root '../js/alpine.js' }}"></script>
        {{> beforeAlpineStart}}
        <script type="module" src="{{ resolve-from-root '../js/main.js' }}"></script>
        {{> afterScript}}
    </body>
</html>
